.numCounter {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    color: #F1F1F1;
    text-shadow: 0 0 2px #fff;
    font-weight: bold;
    white-space: normal;
    font-size: 46.6666666667px;
  }
  .numCounter > b {
    display: inline-block;
    width: 50px;
    height: 80%;
    margin: 0.1em 0.1em 0.1em 0.1em;
    border-radius: 8px;
    background: #26a699d2;
    text-align: center;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.05), 1px 1px 5px #111 inset;
    overflow: hidden;
  }
  .numCounter > b:before {
    content: ' 0 1 2 3 4 5 6 7 8 9 ';
    display: block;
    word-break: break-all;
    word-break: break-word;
    transition: 0.4s cubic-bezier(0.12, 0.78, 0.52, 1.2);
  }
  .numCounter > b.d1:before {
    margin-top: -70px;
  }
  .numCounter > b.d2:before {
    margin-top: -140px;
  }
  .numCounter > b.d3:before {
    margin-top: -210px;
  }
  .numCounter > b.d4:before {
    margin-top: -280px;
  }
  .numCounter > b.d5:before {
    margin-top: -350px;
  }
  .numCounter > b.d6:before {
    margin-top: -420px;
  }
  .numCounter > b.d7:before {
    margin-top: -490px;
  }
  .numCounter > b.d8:before {
    margin-top: -560px;
  }
  .numCounter > b.d9:before {
    margin-top: -630px;
  }
  .numCounter > span {
    display: inline-block;
    font-size: 1.1em;
    opacity: 0.4;
    line-height: 1.8;
    padding: 0;
    vertical-align: top;
    text-shadow: none;
  }
  
  .numCounter {
    overflow: hidden;
    position: absolute;
    width: 480px;
    height: 90px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .1em .1em;
    text-align: center;
    background: #26a69a;
    background: linear-gradient(to bottom, #26a69a 1%, #26a699ad 4%, #26a69963 98%, #26a69927 100%);
    border-radius: 12px;
    box-shadow: 0 5px 12px #111, 0 0 8px 0 rgba(255, 255, 255, 0.1) inset;
  }
  .numCounter:before {
    content: '';
    position: absolute;
    left: -10%;
    right: -10%;
    top: -50%;
    bottom: 50%;
    background: #FFF;
    opacity: 0.04;
    z-index: 1;
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
  